body{
    z-index: -1;
}

body section form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

body section form div .form_input {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

body section form div .form_input input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

body section form div .form_input input:focus {
	outline: 0;
	border-color: #777;
}

body section form button {
	background-color: #3586ff;
	border: 2px solid #3586ff;
	border-radius: 4px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}